
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables
.env*

#Ignore auth.json in public repo on GitHub is the best pracrice to not expose sensetive data
auth.json